body {
  background-image:url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/095/937/original/pexels-ithalu-dominguez-907485.jpg?1693944861");
  background-size: cover;
}
.darkTheme{
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/095/934/original/pexels-kai-pilger-1341279.jpg?1693942518");
  background-size:cover;
}
.app{
  margin:60px auto;
  max-width:800px;
}
.weather {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: #a7ced3;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
  color: rgb(135, 135, 135);
}
.darkTheme .weather {
background:#b3a7d3;
}
.weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.weather .btn {
  background: #f58383;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
.weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.weather li strong {
  color: #f58383;
  font-weight: normal;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

#mainIcon {
  margin: 10px 0;
}

.weather .unit .active{
  color:rgb(33, 33, 33);
  cursor:default;
  text-decoration: none;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
}
.weatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.weatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.7);
}

.weatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color:#f58383;
  font-weight: bold;
}
.darkTheme .weatherForecast, .darkTheme .forecast-temperature, .darkTheme .weather li strong{
  color:#2e2d9a;
}
.darkTheme .weather .btn{
  background:#2e2d9a;
}

.weatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.weather .weatherForecast canvas {
  display: block;
  margin: 20px auto;
}
.weatherInfo {
  margin-top: 20px;
}

.weatherInfo .temperature-container {
  margin-top: 30px;
  align-items: center;
}
.weather li #details{
text-transform: capitalize;
}
#photographer{
  padding-top: 5px;
}